.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.tmp
node_modules/
.cache/
.DS_Store
.env
*.local
__pycache__/
materials/**/*.psd
materials/**/*.ai
materials/**/*.xcf
materials/photo/*.xcf
materials/photo/*.psd
fonts/**/*.otf
fonts/**/*.woff
fonts/**/*.woff2
!README.md
!LICENSE

